*{
    margin: 0;
}


.banner{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(0.25turn,#FFFFFF, #FFFFFF,#FFFFFF,#B9D8F7,#B9D8F7);
    height: 150px;
}

.banner p{
    color: rgb(55, 87, 213);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 50px;
}

.hoaxBuster{
    background-color: rgb(74, 103, 255);
    color: white;
    border: 1px solid rgb(74, 103, 255);
    padding: 10px 15px 10px 15px;

}

.menu{
    margin-top: 50px;
    margin-right: 70px;
} 

.menu a {
    margin-left: 55px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.menu .seccion{
    color: rgb(109, 123, 147);
}



.seccionPrincipal{
    position: relative;
}



.seccionPrincipal,
.bloqueEmergenciaContacto{
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
}

.bloquePreparativosVacuna{
    margin-right: 50px;
    display: flex;
    justify-content: space-between;
  
}

.bloquePrincipal p,
.bloqueEmergenciaContacto p{
    color:rgb(109, 123, 147);
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;

}



.bloquePreparativosVacuna .parrafo1{
    color:rgb(109, 123, 147);
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;

}

.parrafo2{
    font-family: 'Poppins', sans-serif;
    color:rgb(109, 123, 147);
    font-size: 15px;
    margin-left: 45px;
    margin-top: 20px;
}

.bloquePrincipal h1{
    margin-top: 80px;
    color: rgb(31, 62, 114);
    font-family: 'Montserrat', sans-serif;
    font-size: 70px;
}

/*
.bloquePrincipal p{
    color:rgb(109, 123, 147);
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}*/

.iconosAmarillos {
    margin-right: 50px;
    color: rgb(31, 62, 114);
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-bottom: 20px;
}

.iconosAmarillos i{
    background-color:rgb(255, 247, 210);;
    padding: 5px;
    color: rgb(255, 208, 18);
    margin-right: 15px;
    border-radius: 3px;
   
   
    
    /* rgb(255, 247, 210);*/
}

.bloquePrincipal img{
    width: 650px;
    height: 820px;
}

.calendario {
    color: rgb(31, 62, 114);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 800;
}

.calendario i{
    padding: 8px;
    background-color: rgb(240, 244, 255);
    color: rgb(74, 103, 255);
    margin-right: 15px;
    border-radius: 3px;
}


.div_transversal{
    display: flex;
    position: absolute;
    bottom: -280px;
    margin-left: 50px;
    background-color: rgb(253, 254, 255);
    border: 3px solid white;
    padding: 25px 12px;
    border-radius: 5px;
    box-shadow: 2px 10px 15px 8px  rgb(240, 244, 255);
}

.div_transversal div{
    margin-right: 30px;
    margin-left: 50px;

}

.div_transversal .subtitulo{
    margin-left: 50px;
}

.div_transversal input{
    border-radius: 5px;
    border: 1px solid  rgb(74, 103, 255);
    height: 60px;
    width: 150px;
    background-color: rgb(74, 103, 255);
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    
}

.titulo{
    color:rgb(109, 123, 147);
    font-family: 'Poppins', sans-serif;
}

.marcas{
    display: flex;
    justify-content:space-around;
    margin: 50px;
}

.calendario{
    margin-top: 10px;
}

.astra{
    width: 300px;
    height: 100px;
}

.sino{
    margin-top: 30px;
    width: 250px;
    height: 70px;
}

.pfi{
    margin-top: 15px;
    width: 200px;
    height: 100px;
}

.moderna{
    margin-top: 40px;
    width: 230px;
    height: 70px;
}

.porqueVacunarse{
    margin: 50px;
}


h2{
    color: rgb(31, 62, 114);
    font-family: 'Montserrat', sans-serif;
    font-size: 41px;
    margin-bottom: 50px;
}

.razonVacuna{
    
    color:rgb(109, 123, 147);
    font-size: 23px;
    line-height: 40px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.cards{
    display: flex;
    justify-content: space-around;
}


.card{

    width: 290px;
    height: 350px;
    border: 3px solid rgb(250, 250, 255);
    border-radius: 10px;
}

.card ul li{
    margin-bottom: 15px;
    margin-right: 20spx;
}

.card ul li i{
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(240, 244, 255);
    color: rgb(74, 103, 255);
    margin-right: 15px;
    margin-top: 25px;
}

.card .titulo{
  
    color: rgb(31, 62, 114);
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}

.card .parrafo{
    color:rgb(109, 123, 147);
    font-size: 15px;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}

.card-two{
    box-shadow: 3px 30px 15px 5px rgb(240, 244, 255);
}

.bloquePreparativosVacuna img{
    width: 550px;
    height: 620px;
    margin-top: 250px;
}

.bloqueEmergenciaContacto h2,
.bloquePreparativosVacuna h2{
    margin-top: 70px;
}

.tarjeta{
    padding: 18px;
    width: 550px;
    border: 3px solid rgb(250, 250, 255);
    border-radius: 5px;
    margin-bottom: 17px;
}

.calendario1{
    color: rgb(31, 62, 114);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.calendario1 i{
    padding: 5px;
    background-color: rgb(240, 244, 255);
    color: rgb(74, 103, 255);
    margin-right: 15px;
}

.angulo1{
    margin-left: 220px;
}

.angulo2{
    margin-left: 350px;
}

.angulo3{
    margin-left: 310px;
}

.angulo4{
    margin-left: 300px;
}

.angulo5{
    margin-left: 210px;
}

.bloqueEmergenciaContacto img{
    display: inline;
}

.bloquetarjeta{
   width: 28%;
   display: inline-block;
   border:3px solid rgb(250, 250, 255);
   margin: 50px 0px 0px 15px;
   padding: 30px;
   border-radius: 10px;
}

.bloquetarjeta p{
    font-size: 15px;
}

.bloqueEmergenciaContacto .parrafo{
    font-size: 20px;
}

.bloqueEmergenciaContacto .imagen{
    height: 950px;
}

.chat{
    box-shadow: 15px 10px 15px -5px rgb(240, 244, 255); 
}

.temaTarjeta{
    display: flex;
   
}

.temaTarjeta i{
    padding: 20px;
    width: 20px;
    height: 20px;
    
    margin:10px 10px 10px 10px;
    border-radius: 10px;
}

.boton{
    padding: 20px;
    width: 75%;
    text-align: center;
    color:rgb(74, 103, 255);
    background-color: rgb(240, 244, 255);
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid  rgb(240, 244, 255);
    font-weight: 700;
}

.chatNow{
    background-color: rgb(74, 103, 255);
    color: white;
    border: 1px solid rgb(74, 103, 255);
    box-shadow: 5px 20px 15px -18px rgb(50, 97, 226);
    font-family: 'Poppins', sans-serif;
    
}



footer{
    margin-top: 20px;
    background-color:rgb(240, 244, 255);
    padding-top: 20px;
    
}

footer p {
    color:rgb(109, 123, 147);
    font-size: 15px;
    margin-top: 30px;
    line-height: 2.0;
    font-family: 'Poppins', sans-serif;

}

footer ul{
    margin-right: 60px;
    color:rgb(109, 123, 147);
    font-family: 'Poppins', sans-serif;
}

footer ul li{
    line-height: 3.0;
} 

footer h3{
    color: rgb(55, 87, 213);
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

footer h4{
    color: rgb(31, 62, 114);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.footer_about{
    display: flex;
    margin: 50px;
    justify-content: space-between;
}

.derechosReservados{
    display: flex;
    margin: 50px;
    padding-bottom: 15px;
    justify-content: space-between;
 }

 .terminosyprivacidad{
     display: flex;
     color: blue;
     margin-right: 80px;
 }

 .terminos{
     margin-right: 10px;
     
 }
 
 .privacidad{
     margin-left: 30px;
     
 }


.listas{
    display: flex;

    
}

ul{
    list-style-type: none;
    
}

li{
    line-height: 25px;
}

.bloqueEmergenciaContacto img{
    width: 620px;
    height: 700px;
    margin-top: 250px;
    
}

/*
.derechosReservados{
   display: flex;
   margin: 50px;
   justify-content: space-between;
}



.derechosReservados{
    display: block;
    background-color:#B9D8F7 ;
}
*/